.playzone {
  width: 800px;
  height: 500px;
  border: solid black 1px;
}
.disk {
  border-radius: 50%;
  color: black;
  border: solid black 1px;
}

.chosenName {
  text-align: center;
}

.test {
  width: auto;
}
